.bubble {
  --size: 0px;
  --background: red;
  // background-color: var(--background);
  // background-image: url("https://cdn.custom-cursor.com/db/7003/32/among-us-red-character-and-devil-horns-pointer.png");
  background-image: url("@/assets/icons/cursor.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  width: var(--size);
  height: var(--size);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5 * var(--size));
  position: fixed;
  top: calc(-0.5 * var(--size));
  left: calc(-0.5 * var(--size));
  inset: 0;
  transform: translate3d(var(--x), var(--y), 0) rotate(var(--angle, 0deg));
  transition: 0.25s ease, transform 0s, background-color 0s;
  pointer-events: none;
  z-index: 99999;

  body:has([data-bubble]:hover) & {
    // --size: 50px;
    // --background:red;
  }
}

@media screen and (max-width: 600px) {
  .bubble {
    display: none;
  }
}

.bubble {
  --size: 14px;
  --background: black;
}
