.bubble {
  --size: 0px;
  --background: red;
  background-color: var(--background);
  width: var(--size);
  height: var(--size);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: calc(0.5 * var(--size));
  position: fixed;
  top: calc(-0.5 * var(--size));
  left: calc(-0.5 * var(--size));
  transform: translate3d(var(--x), var(--y), 0) rotate(var(--angle, 0deg));
  transition: 0.25s ease, transform 0s, background-color 0s;
  pointer-events: none;

  body:has([data-bubble]:hover) & {
    // --size: 50px;
    // --background:red;
  }
}

.bubble {
  --size: 10px;
  --background: black;
}
